<div class="p-4 sm:ml-64">
  <!-- Breadcrumb -->
  <div style="margin-bottom: 1rem;">
    <nav style="background-color: #060a0f; color: white; padding: 0.5rem 1rem; border-radius: 0.25rem;">
      <span style="font-size: 1rem; line-height: 1.5rem;">Home / Dashboard</span>
    </nav>
  </div>

  <div style="background-color: #003B75; color: white; padding: 2rem; border-radius: 0.5rem; margin-bottom: 1.5rem;">
    <h1 style="font-size: 2.25rem; line-height: 2.5rem; font-weight: 700;">BIENVENIDO PERSONAL ADMINISTRATIVO!</h1>
    <p style="margin-top: 1rem; font-size: 1.125rem; line-height: 1.75rem;">Esta es la sección de administración donde
      puedes gestionar todas las funcionalidades de la
      plataforma. Asegúrate de revisar todas las estadísticas y mantener todo en orden.</p>
    <img src="https://i.ibb.co/PcSD1BT/290791-225917667455113-1371125-o.png" alt="Escudo"
      style="margin-top: 1rem; width: 7rem; display: block; margin-left: auto; margin-right: auto;">
  </div>

  <div style="display: grid; grid-template-columns: repeat(2, 1fr); gap: 1rem;">
    <div
      style="background-color: #003B75; color: white; border-radius: 0.5rem; padding: 1rem; height: 8rem; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); text-align: center; transition: transform 0.3s, background-color 0.3s;">
      <h3 style="font-size: 1.25rem; line-height: 1.5rem; font-weight: 600;">Registro de Notas</h3>
      <p style="margin-top: 0.5rem;">Añade, edita y elimina notas de estudiantes fácilmente para mantener un registro
        preciso.</p>
    </div>
    <div
      style="background-color: #003B75; color: white; border-radius: 0.5rem; padding: 1rem; height: 8rem; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); text-align: center; transition: transform 0.3s, background-color 0.3s;">
      <h3 style="font-size: 1.25rem; line-height: 1.5rem; font-weight: 600;">Análisis de Desempeño</h3>
      <p style="margin-top: 0.5rem;">Genera reportes de desempeño académico para identificar áreas de mejora.</p>
    </div>
    <div
      style="background-color: #003B75; color: white; border-radius: 0.5rem; padding: 1rem; height: 8rem; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); text-align: center; transition: transform 0.3s, background-color 0.3s;">
      <h3 style="font-size: 1.25rem; line-height: 1.5rem; font-weight: 600;">Integración de Datos</h3>
      <p style="margin-top: 0.5rem;">Conecta con otras plataformas educativas para sincronizar información en tiempo
        real.</p>
    </div>
    <div
      style="background-color: #003B75; color: white; border-radius: 0.5rem; padding: 1rem; height: 8rem; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); text-align: center; transition: transform 0.3s, background-color 0.3s;">
      <h3 style="font-size: 1.25rem; line-height: 1.5rem; font-weight: 600;">Configuración de Evaluaciones</h3>
      <p style="margin-top: 0.5rem;">Personaliza los criterios de evaluación para cada curso y programa.</p>
    </div>
  </div>
</div>